# .NET
bin/
obj/
*.user
*.suo
*.vs/
*.DotSettings.user
TestResults/
publish/
artifacts/

# Android
android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/app/.cxx/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml
*.apk
*.aab

# Native
*.so
*.dylib
*.pdb

# OS
Thumbs.db
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
